:root {
  // PADDING RIGHT
  .pr-0 {
    padding-right: var(--w-indent-0);
  }
  .pr-1 {
    padding-right: var(--w-indent-1);
  }
  .pr-2 {
    padding-right: var(--w-indent-2);
  }
  .pr-3 {
    padding-right: var(--w-indent-3);
  }
  .pr-4 {
    padding-right: var(--w-indent-4);
  }
  .pr-5 {
    padding-right: var(--w-indent-5);
  }
}
