:root {
  // FONT SIZE
  --w-fs-small-caption: 0.625rem;
  --w-fs-caption: 0.75rem;
  --w-fs-small-p: 0.875rem;
  --w-fs-p: 1rem;
  --w-fs-h4: 1.125rem;
  --w-fs-h3: 1.25rem;
  --w-fs-h2: 1.5rem;
  --w-fs-h1: 2rem;
}
