:root {
  .br-0 {
    border-radius: var(--w-indent-0);
  }
  .br-1 {
    border-radius: var(--w-indent-1);
  }
  .br-2 {
    border-radius: var(--w-indent-2);
  }
  .br-3 {
    border-radius: var(--w-indent-3);
  }
  .br-4 {
    border-radius: var(--w-indent-4);
  }
  .br-5 {
    border-radius: var(--w-indent-5);
  }
}
