:root {
  .cg-0 {
    column-gap: var(--w-indent-0);
  }
  .cg-1 {
    column-gap: var(--w-indent-1);
  }
  .cg-2 {
    column-gap: var(--w-indent-2);
  }
  .cg-3 {
    column-gap: var(--w-indent-3);
  }
  .cg-4 {
    column-gap: var(--w-indent-4);
  }
  .cg-5 {
    column-gap: var(--w-indent-5);
  }
}
