:root {
  .g-0 {
    gap: var(--w-indent-0);
  }
  .g-1 {
    gap: var(--w-indent-1);
  }
  .g-2 {
    gap: var(--w-indent-2);
  }
  .g-3 {
    gap: var(--w-indent-3);
  }
  .g-4 {
    gap: var(--w-indent-4);
  }
  .g-5 {
    gap: var(--w-indent-5);
  }
}
