.header_layout {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 32px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}
