:root {
  // --w-sh-c: ;
  .sh-0 {
    box-shadow: var(--w-indent-0);
  }
  .sh-1 {
    box-shadow: var(--w-indent-1);
  }
  .sh-2 {
    box-shadow: var(--w-indent-2);
  }
  .sh-3 {
    box-shadow: var(--w-indent-3);
  }
  .sh-4 {
    box-shadow: var(--w-indent-4);
  }
  .sh-5 {
    box-shadow: var(--w-indent-5);
  }
}
