* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: "Montserrat";
  color: #191919;
}

body {
  background-color: #3448ff;
}

h1 {
  font-size: 32px;
  font-weight: 600;
}
