@import "./global/index";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: "Montserrat", "NotoColorEmoji";
  line-height: var(--w-lh-regular);
  color: var(--w-base);
  background-color: var(--w-second-0);
}

h1,
h2,
h3,
h4 {
  font-weight: 600;
}
