/* Light 300 */
@font-face {
  font-family: "Montserrat";
  src: url("./ttf/Montserrat-Light.ttf");
  font-weight: 300;
}
/* Light 300 Italic */
@font-face {
  font-family: "Montserrat";
  src: url("./ttf/Montserrat-LightItalic.ttf");
  font-weight: 300;
  font-style: italic;
}
/* Regular 400 */
@font-face {
  font-family: "Montserrat";
  src: url("./ttf/Montserrat-Regular.ttf");
  font-weight: 400;
}
/* Regular 400 Italic */
@font-face {
  font-family: "Montserrat";
  src: url("./ttf/Montserrat-Regular.ttf");
  font-weight: 400;
  font-style: italic;
}
/* Medium 500 */
@font-face {
  font-family: "Montserrat";
  src: url("./ttf/Montserrat-Medium.ttf");
  font-weight: 500;
}
/* Medium 500 Italic */
@font-face {
  font-family: "Montserrat";
  src: url("./ttf/Montserrat-MediumItalic.ttf");
  font-weight: 500;
  font-style: italic;
}
/* Semi-Bold 400 */
@font-face {
  font-family: "Montserrat";
  src: url("./ttf/Montserrat-SemiBold.ttf");
  font-weight: 600;
}
/* Semi-Bold 400 Italic */
@font-face {
  font-family: "Montserrat";
  src: url("./ttf/Montserrat-SemiBoldItalic.ttf");
  font-weight: 600;
  font-style: italic;
}
/* Bold 500 */
@font-face {
  font-family: "Montserrat";
  src: url("./ttf/Montserrat-Bold.ttf");
  font-weight: 700;
}
/* Bold 500 Italic */
@font-face {
  font-family: "Montserrat";
  src: url("./ttf/Montserrat-BoldItalic.ttf");
  font-weight: 700;
  font-style: italic;
}