.modal_layout {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;

  &-content {
    background-color: #ffffff;
    padding: 16px 24px;
    border-radius: 16px;
    width: 400px;
  }
}
