:root {
  // MARGIN BOTTOM
  .mb-0 {
    margin-bottom: var(--w-indent-0);
  }
  .mb-1 {
    margin-bottom: var(--w-indent-1);
  }
  .mb-2 {
    margin-bottom: var(--w-indent-2);
  }
  .mb-3 {
    margin-bottom: var(--w-indent-3);
  }
  .mb-4 {
    margin-bottom: var(--w-indent-4);
  }
  .mb-5 {
    margin-bottom: var(--w-indent-5);
  }
}
