:root {
  .m-0 {
    margin: var(--w-indent-0);
  }
  .m-1 {
    margin: var(--w-indent-1);
  }
  .m-2 {
    margin: var(--w-indent-2);
  }
  .m-3 {
    margin: var(--w-indent-3);
  }
  .m-4 {
    margin: var(--w-indent-4);
  }
  .m-5 {
    margin: var(--w-indent-5);
  }
}
