:root {
  // MARGIN LEFT
  .ml-0 {
    margin-left: var(--w-indent-0);
  }
  .ml-1 {
    margin-left: var(--w-indent-1);
  }
  .ml-2 {
    margin-left: var(--w-indent-2);
  }
  .ml-3 {
    margin-left: var(--w-indent-3);
  }
  .ml-4 {
    margin-left: var(--w-indent-4);
  }
  .ml-5 {
    margin-left: var(--w-indent-5);
  }
}
