:root {
  // MARGIN RIGHT
  .mr-0 {
    margin-right: var(--w-indent-0);
  }
  .mr-1 {
    margin-right: var(--w-indent-1);
  }
  .mr-2 {
    margin-right: var(--w-indent-2);
  }
  .mr-3 {
    margin-right: var(--w-indent-3);
  }
  .mr-4 {
    margin-right: var(--w-indent-4);
  }
  .mr-5 {
    margin-right: var(--w-indent-5);
  }
}
