:root {
  // MARGIN TOP
  .mt-0 {
    margin-top: var(--w-indent-0);
  }
  .mt-1 {
    margin-top: var(--w-indent-1);
  }
  .mt-2 {
    margin-top: var(--w-indent-2);
  }
  .mt-3 {
    margin-top: var(--w-indent-3);
  }
  .mt-4 {
    margin-top: var(--w-indent-4);
  }
  .mt-5 {
    margin-top: var(--w-indent-5);
  }
}
