:root {
  // FONT WEIGHT
  .fw-light {
    font-weight: var(--w-fw-light);
  }
  .fw-regular {
    font-weight: var(--w-fw-regular);
  }
  .fw-medium {
    font-weight: var(--w-fw-medium);
  }
  .fw-bold {
    font-weight: var(--w-fw-bold);
  }
}
